@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #242529;
  --important-text: #fff17b; 
  --secondary-bg-card-color: #393a3e; 
  --panel-bg-color: #c0c0c0;
  --outline-color: #2f3034;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
}



/* Global scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
  height: 8px;
  /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-thumb {
  background: rgba(4, 4, 4, 0.5);
  /* Color of the scrollbar thumb */
  border-radius: 4px;
  /* Rounded corners for a modern look */
}

::-webkit-scrollbar-thumb:hover {
  background: #2f3034;
  /* Darker thumb when hovered */
}

::-webkit-scrollbar-track {
  background: rgba(200, 200, 200, 0.2);
  /* Background color of the scrollbar track */
  border-radius: 4px;
  /* Rounded corners */
}

/* Add transition for smooth hover effect */
::-webkit-scrollbar-thumb {
  transition: background 0.3s ease;
}
